require "logger"

Qamper::Configuration.configure do |config|

  config.amqp = "amqp://guest:guest@localhost:5672"

  # name of exchange
  config.exchange = "sneakers"

  # number of workers per key
  config.workers   = 1

  # logger level
  config.logger_level = Logger::INFO

end